.card {
  padding: 20px;
  position: relative;

  background-color: $black;
  border-radius: 3px;

  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .15);

  @include respond-to('small') {
    margin: 0;
    padding: 0;

    background-color: transparent;
    border-radius: 0;

    box-shadow: none;
  }

  & + .card {
    margin-top: 60px;
  }
}

.card-heading {
  margin-bottom: 1.875rem;

  > a {
    float: right;
    display: inline-block;

    @include respond-to('small') {
      float: left;
      margin-right: 30px;
    }
  }

  &::after {
    display: table;
    content: ' ';
    clear: both;
  }
}

.card__logo {
  filter: drop-shadow(0 2px 10px rgba(0, 0, 0, .1));
}

.card__title,
.card__subtitle {
  margin: 0;
}

.card__title {
  font-family: $text-font-stack;
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 100;

  @include respond-to('small') {
    font-size: 1.375rem;
  }
}

.card__subtitle {
  font-family: $text-font-stack-alt;
  font-style: italic;
  font-size: .875rem;

  @include respond-to('small') {
    font-size: 1rem;
  }
}

.card__date {
  font-family: $text-font-stack-alt;
  font-size: 1.375rem;
  font-style: italic;
  font-weight: 700;

  @include respond-to('small') {
    position: absolute;
    top: 100px;
    left: -34px;
  }
}

.card-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-list__item {
  font-size: .875rem;

  @include respond-to('small') {
    font-size: 1rem;
  }
}

@include respond-to('small') {
  .card-content {
    padding: 30px;

    max-width: 516px;

    position: relative;
    left: 64px;

    background-color: $black;
    border: 2px solid $light-grey;
    border-radius: 3px;

    filter: drop-shadow(0 0 2px rgba(0, 0, 0, .15));

    &::before {
      content: ' ';

      position: absolute;
      top: 20px;
      left: -12px;
      z-index: 2;

      @include triangle(20px, $mid-grey, left);
    }

    &::after {
      content: ' ';

      width: 20px;
      height: 20px;

      position: absolute;
      top: 20px;
      left: -38px;

      background-color: $dark-grey;
      border-radius: 50%;
      border: 3px solid $mid-grey;
    }
  }
}
