.footer {
  padding: 1.375em;

  position: relative;

  background-color: $white;
  color: $dark-grey;

  text-align: center;

  > p {
    margin: 0;
    font-size: 1rem;

    > span {
      display: block;
    }
  }
}

.footer-copyleft {
  display: inline-block;
  transform: rotate(-180deg);
}

.footer-nav__item {
  display: inline-block;

  font-family: $text-font-stack;
  font-size: .75rem;
  font-weight: 300;

  text-decoration: none;

  &:hover,
  &:focus {
    color: $brand-primary;
    text-decoration: underline;
  }

  &:not(:first-child)::before {
    content: '-';
    display: inline-block;
    padding: 0 5px;
  }
}

@include respond-to('small') {
  .footer {
    text-align: inherit;

    > p > span {
      display: inline;
    }
  }

  .footer-nav {
    position: absolute;
    right: 2.75em;
    top: 1.375em;
    text-align: inherit;
  }
}
