{% extends "layouts/default.njk" %}

{% set active_page = 'error' %}

{% block content %}
<main class="main">
    <div class="container">
        <article class="content">
            <h1>Oups</h1>
            <p>Page non trouvée.</p>
            <p><a href="/">Revenir à la page d'accueil</a>.</p>
        </article>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</main>
<!-- /.main -->
{% endblock %}
