{% extends "layouts/default.njk" %}

{% set active_page = 'legacy' %}

{% block content %}
<main class="main">
    <div class="container">
        <div class="content">
            <article class="post" role="main">
                <header>
                    <h1>Mentions légales</h1>
                </header>
                <div>
                    <h2>1. Informations</h2>
                    <h3>Éditeur du site</h3>
                    <p>
                        Antoine LEBLANC<br>
                        <a class="email" href="mailto:ant.leblanc%40gmail.com?subject=%5Bantleblanc.com%5D%20-%20Contact&amp;body=Hi%20Antoine">ant.leblanc@gmail.com</a>
                    </p>
                    <p>
                        Directeur de la publication : <strong>Antoine Leblanc</strong>
                    </p>
                    <h3>Hébérgement</h3>
                    <address>
                        OVH SAS<br>
                        2 rue Kellermann<br>
                        59100 Roubaix - France
                    </address>
                    <h2>2. Informatique et libertés</h2>
                    <p>
                        Les informations recueillies font l’objet d’un traitement informatique
                        destiné à <a href="https://antleblanc.com"><small>https://</small>antleblanc.com</a>.<br>
                        Le destinataire des données est : Antoine Leblanc. Conformément
                        à la loi « informatique et libertés » du 6 janvier 1978 modifiée,
                        vous bénéficiez d’un droit d’accès, de rectification, de suppression
                        des informations qui vous concernent, que vous pouvez exercer
                        en vous adressant à <a class="email" href="mailto:ant.leblanc%40gmail.com?subject=%5Bantleblanc.com%5D%20-%20Contact&amp;body=Hi%20Antoine">Antoine Leblanc</a>.
                    </p>
                    <p>
                        Ce site implante un cookie dans votre ordinateur. Ce cookie enregistre
                        des informations relatives à votre navigation sur notre site, et stocke
                        des informations que vous avez saisies durant votre visite.
                        Vous pouvez vous opposer à l’enregistrement de cookies en configurant
                        les paramètres de votre navigateur.
                    </p>
                    <h2>3. Propriétés intellectuelles</h2>
                    <p>
                        Les contenus de ce site (structure, design, texte, image, animation, logo)
                        sont la propriété exclusive de Antoine Leblanc. Toute représentation
                        totale ou partielle de ce site est soumise à l’autorisation préalable,
                        écrite et expresse de Antoine Leblanc.
                    </p>
                    <h2>4. Limitation de responsabilité</h2>
                    <p>
                        Ce site ne saurait être tenu pour responsable des erreurs rencontrées sur le site,
                        problèmes techniques, interprétation des informations publiée et
                        conséquences de leur utilisation. En conséquence, l’utilisateur
                        reconnaît utiliser ces informations sous sa responsabilité exclusive.
                    </p>
                </div>
            </article>
            <!-- /.post -->
        </div>
        <!-- /.content -->
    </div>
    <!-- .container -->
</main>
<!-- /.main -->
{% endblock %}
