<!doctype html>
<html class="no-js theme-default" lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="Passionné par le développement web et les projets open-source, je suis originaire du Nord-Pas de Calais.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Antoine Leblanc &ndash; Développeur Front-End Web passionné à Lille dans le Nord-Pas de Calais</title>

        <!-- Disable tap highlight on IE -->
        <meta name="msapplication-tap-highlight" content="no">

        <!-- Web Application Manifest -->
        <link rel="manifest" href="manifest.json">

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="application-name" content="antleblanc">
        <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicons/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/images/touch/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="230x230" href="assets/images/touch/favicon-230x230.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/images/touch/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/images/touch/favicon-96x96.png">

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="antleblanc">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-touch-icon-76x76.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="assets/images/favicons/mstile-144x144.png">
        <meta name="msapplication-TileColor" content="#434343">
        <meta name="msapplication-config" content="browserconfig.xml">

        <!-- Color the status bar on mobile devices -->
        <meta name="theme-color" content="#00537E">

        <link rel="shortcut icon" href="favicon.ico">

        <!-- SEO -->
        <link rel="author" href="https://plus.google.com/+AntoineLeblancFr">

        <!-- Social -->
        <!-- Open Graph (facebook) -->
        <meta property="og:title" content="Antoine Leblanc &ndash; Développeur Front-End Web passionné à Lille">
        <meta property="og:description" content="Passionné par le développement web et les projets open-source, je suis originaire du Nord-Pas de Calais">
        <meta property="og:image" content="https://antleblanc.me/assets/images/antleblanc-photo.png">

        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@antleblanc">
        <meta name="twitter:creator" content="@antleblanc">
        <meta name="twitter:url" content="https://antleblanc.me">
        <meta name="twitter:title" content="Antoine Leblanc &ndash; Développeur Front-End Web passionné à Lille">
        <meta name="twitter:description" content="Passionné par le développement web et les projets open-source, je suis originaire du Nord-Pas de Calais">
        <meta name="twitter:image" content="https://antleblanc.me/assets/images/antleblanc-photo.png">

        <!-- Page styles -->
        <!-- build:css assets/styles/vendor.min.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css assets/styles/main.min.css -->
        <link rel="stylesheet" href="assets/styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
        {% set navigation_bar = [
            ['index', 'À propos', '#about', 'À propos de moi (Antoine Leblanc)']
        ] %}
        {% set active_page = active_page | default('index') %}

        <!--[if lt IE 10]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% include "../includes/header.njk" %}

        {% block content %}{% endblock %}

        {% include "../includes/footer.njk" %}

        <!-- build:js assets/scripts/vendor.min.js -->
        <!-- bower:js -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js assets/scripts/main.min.js -->
        <script src="assets/scripts/main.js"></script>
        <!-- endbuild -->

        <script>
            WebFontConfig = {
              google: {
                families: [
                    'Open+Sans:300,400:latin',
                    'Merriweather:300italic,700,700italic:latin'
                ]
              }
            };

            (function(d) {
                var wf = d.createElement('script'), s = d.scripts[0];
                wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
                wf.async = true;
                s.parentNode.insertBefore(wf, s);
            })(document);
        </script>
    </body>
</html>
