.page-blog {

  .article__link {
    position: relative;
  }

  .article__link::after {
    content: '\2714';

    margin-left: 10px;

    position: absolute;
    top: 0;
    left: 100%;

    color: $white;
  }

  .article__link:visited::after {
    color: $brand-green-light;
  }

  @include respond-to('small') {
    //..
  }

  @include respond-to('medium') {
    //..
  }

  @include respond-to('large') {
    //..
  }
}
