<footer class="footer" role="contentinfo">
    <p>
        <span>
            <strong>Antoine Leblanc</strong>
            <span class="footer-copyleft">&copy;</span>
        </span>
        <span>{{ currentYear }} - dernière mise à jour le {{ lastUpdate }}</span>
    </p>

    <nav class="footer-nav">
        <a class="footer-nav__item" href="mentions-legales.html">Mentions légales</a>
    </nav>
</footer>
<!-- /.footer -->
